body{
	background-color: white;
	color:black;
	font-size:28px;
	font-family: "lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

h1,th{
	font-family: Times,serif;
}

h1{
	font-size: 28px;
}

table{
	border-collapse: collapse;
}

th,td{
	padding:10px;
	border:2px #666 solid;
	text-align: center;
	width:20%;
}

#newcard {
	text-decoration:underline;
}
#square12, .pickedBG{
	background-color:gold;
}

.winningBG{
	background-color:url(pic/winning.png);
}

#BG table {
	width:200;
}

#bgball{
	float: left;
	margin-right: 20px;
}


//document.getElementById("square"+ i).innerHTML = newNumber;
//The line innerHTML property of the square0 object to the current value of newNumber"