<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BingoWebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BingoServlet</display-name>
    <servlet-name>BingoServlet</servlet-name>
    <servlet-class>com.srk.pkg.BingoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BingoServlet</servlet-name>
    <url-pattern>/BingoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SingUp</display-name>
    <servlet-name>SingUp</servlet-name>
    <servlet-class>com.srk.pkg.SingUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingUp</servlet-name>
    <url-pattern>/SingUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignIn</display-name>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>com.srk.pkg.SignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
</web-app>